/*<meta />*/


div.page-content
{
	margin-left: auto;
	margin-right: auto;
}

img.floatright
{
	float: right;
	padding-left: 5px;
	border-left-style: none;
	border-right-style: none;
	border-top-style: none;
	border-bottom-style: none;
	font-family: 'Montserrat Regular';
}

img.floatleft
{
	float: left;
	padding-left: 0px;
	padding-right: 5px;
	border-left-style: none;
	border-right-style: none;
	border-top-style: none;
	border-bottom-style: none;
	font-family: 'Montserrat Regular';
}

table.yellow
{
	background-color: #fff7af;
	border-collapse: collapse;
	font-size: 11pt;
	padding-bottom: 15px;
	font-family: 'Montserrat Regular';
}

td.space
{
	border: 5px solid white;
	padding: 5px;
	font-family: 'Montserrat Regular';
}

div.fixed700
{
	width: 700px;
	margin: auto;
	font-family: 'Montserrat Regular';
}

th.space
{
	border-left-style: solid;
	border-left-width: 5px;
	border-left-color: #ffffff;
	border-right-style: solid;
	border-right-width: 5px;
	border-right-color: #ffffff;
	border-top-style: solid;
	border-top-width: 5px;
	border-top-color: #ffffff;
	border-bottom-style: solid;
	border-bottom-width: 5px;
	border-bottom-color: #ffffff;
	font-family: 'Montserrat Regular';
}

p.yellow
{
	font-weight: bold;
	font-style: normal;
	text-align: center;
	background-color: #fff7af;
	border-left-style: solid;
	border-left-width: 5px;
	border-left-color: #ffffff;
	border-right-style: solid;
	border-right-width: 5px;
	border-right-color: #ffffff;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: 'Montserrat Regular';
}

p.Note
{
	margin-top: 0pt;
	text-align: left;
	line-height: 17px;
	font-size: 10pt;
	margin-bottom: 15px;
	border-left-style: solid;
	border-left-width: 10px;
	border-left-color: #db373a;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #db373a;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #db373a;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #db373a;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-right: 10%;
	margin-left: 10%;
	font-family: 'Montserrat Regular';
}

p.NoteCallout
{
	font-style: normal;
	font-weight: normal;
	font-size: 10pt;
	margin-bottom: auto;
	margin-top: auto;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-left-style: solid;
	border-left-width: 10px;
	border-left-color: #0098dc;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #0098dc;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #0098dc;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #0098dc;
	margin-left:10%;
	margin-right: 10%;
	font-family: 'Montserrat Regular';
}

p.Spaceless
{
	padding-bottom: 0px;
	font-family: 'Montserrat Regular';
}

p.Tip
{
	margin-bottom: 15px;
	font-style: normal;
	font-weight: normal;
	font-size: 10pt;
	border-left-style: solid;
	border-left-width: 10px;
	border-left-color: #00a959;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #00a959;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #00a959;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #00a959;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: 10%;
	margin-right: 10%;
	font-family: 'Montserrat Regular';
}

ol,
ul
{
	margin-top: 0px;
	margin-bottom: 10px;
}

ol
{
	font-size: 10pt;
	margin: 0px;
	margin-left: 0px;
	padding-left: 17px;
	padding-bottom: 0px;
	line-height: normal;
	font-family: 'Montserrat Regular';
}

ol,
ul
{
	margin-top: 0px;
	margin-bottom: 10px;
}

ul
{
	font-size: 10pt;
	list-style-type: disc;
	margin-bottom: 10px;
	margin-top: 0px;
	margin-left: 0px;
	padding-left: 17px;
	line-height: normal;
	font-family: 'Montserrat Regular';
}

img
{
	padding-left: 5px;
	padding-right: 0px;
	padding-top: 5px;
	padding-bottom: 0px;
	border-left-style: none;
	border-right-style: none;
	border-top-style: none;
	border-bottom-style: none;
	font-family: 'Montserrat Regular';
}

img.BigImage
{
	mc-thumbnail-max-height: auto;
	mc-thumbnail: popup;
	mc-thumbnail-max-width: 175px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-left-style: none;
	border-right-style: none;
	border-top-style: none;
	border-bottom-style: none;
	font-family: 'Montserrat Regular';
}

img.BigImageRight
{
	mc-thumbnail: popup;
	mc-thumbnail-max-height: auto;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-left-style: none;
	border-right-style: none;
	border-top-style: none;
	border-bottom-style: none;
	mc-thumbnail-max-width: 300px;
	float: right;
	font-family: 'Montserrat Regular';
}

img.IconInline
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-left-style: none;
	border-right-style: none;
	border-top-style: none;
	border-bottom-style: none;
	font-family: 'Montserrat Regular';
}

img.LeftofText
{
	clear: both;
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-left-style: none;
	border-right-style: none;
	border-top-style: none;
	border-bottom-style: none;
	font-family: 'Montserrat Regular';
}

img.RightofText
{
	float: right;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 0px;
	padding-bottom: 10px;
	border-left-style: none;
	border-right-style: none;
	border-top-style: none;
	border-bottom-style: none;
	font-family: 'Montserrat Regular';
}

MadCap|breadcrumbsProxy
{
	font: 'Montserrat Regular';
	width: 80%;
	font-size: 9pt;
	border-bottom-color: #336699;
	border-bottom-width: 1px;
	border-color: #336699;
	border: inset 0px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	mc-breadcrumbs-divider: ' : ';
	color: #696969;
	font-family: 'Montserrat Regular';
	font-weight: 600;
}

p.headerImage
{
	margin-top: 0pt;
	margin-bottom: 0pt;
	line-height: 17px;
	font-size: 11pt;
	text-align: right;
	padding-bottom: 0px;
	font-family: 'Montserrat Regular';
}

p.numberedList
{
	mc-auto-number-position: outside-head;
	margin-left: -5px;
	mc-auto-number-format: '{family Tahoma}{color darkblue}{size 10 pt}{b}{n+}.     {/b}{/size}';
	font-family: 'Montserrat Regular';
}

body
{
	font-size: 11pt;
	background-attachment: fixed;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	padding: 5px;
	background-image: none;
	font-family: 'Montserrat Regular';
}

h1
{
	text-align: left;
	line-height: normal;
	margin-top: 4.67px;
	font-variant: normal;
	font-size: 20pt;
	margin-bottom: 0px;
	font-weight: bold;
	color: #e88c40;
	margin: 0px;
	border-bottom-style: solid;
	padding-left: 0px;
	padding-top: 10px;
	padding-bottom: 0px;
	border-bottom: solid 0.5px;
	border-bottom-width: 0.5px;
	font-family: 'Montserrat Regular';
}

h2
{
	text-align: left;
	line-height: normal;
	font-variant: normal;
	font-style: normal;
	font-size: 16pt;
	text-decoration: none;
	color: #e88c40;
	font-weight: bold;
	padding-top: 10px;
	padding-left: 0px;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 6px;
	font-family: 'Montserrat Regular';
}

h3
{
	text-align: left;
	font-variant: normal;
	font-style: normal;
	font-weight: bold;
	padding-left: 0px;
	margin-top: 10px;
	font-size: 14pt;
	margin-bottom: 0px;
	margin: 0px;
	color: #e88c40;
	font-family: 'Montserrat Regular';
}

h4
{
	text-align: left;
	font-variant: normal;
	font-size: 12pt;
	text-decoration: none;
	font-style: normal;
	margin-left: 0em;
	margin-right: 0em;
	mc-heading-level: 3;
	margin-bottom: 10px;
	font-weight: normal;
	padding-left: 0px;
	margin-top: 0px;
	margin: 0px;
	font-family: 'Montserrat Regular';
}

h4.SeeAlso
{
	text-align: left;
	margin-right: 0.75em;
	margin-top: 0.75em;
	margin-bottom: 0.15em;
	margin-left: 0;
	font-variant: small-caps;
	font-weight: normal;
	font-style: normal;
	border-top-style: solid;
	border-top-width: 0px;
	font-size: 14pt;
	padding-left: 0px;
	padding-top: 10px;
	font-family: 'Montserrat Regular';
}

h4.whatsnew
{
	clear: both;
	font-family: 'Montserrat Regular';
}

h5
{
	clear: left;
	text-align: left;
	margin-bottom: 10px;
	text-decoration: none;
	font-style: normal;
	margin-top: 5px;
	font-weight: bold;
	font-variant: normal;
	font-size: 11pt;
	color: #336699;
	font-family: 'Montserrat Regular';
}

h5.caption
{
	font-family: 'Montserrat Regular';
}

h5.rightclear
{
	clear: right;
	font-family: 'Montserrat Regular';
}

h6
{
	font-size: 8.0pt;
	font-weight: bold;
	margin-top: -0.33px;
	margin-bottom: 2.67px;
	text-align: left;
	font-family: 'Montserrat Regular';
}

p
{
	text-align: left;
	font-size: 10pt;
	line-height: normal;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 5px;
	padding-bottom: 0px;
	margin-left: 0px;
	margin-right: 5px;
	margin-bottom: 6px;
	margin-top: 6px;
	font-family: 'Montserrat Regular';
}

p.FooterText
{
	margin-top: 0pt;
	font-size: 8pt;
	color: #696969;
	padding-bottom: 0px;
	text-align: right;
	line-height: 13px;
	margin-bottom: 0;
	font-family: 'Montserrat Regular';
}

MadCap|expandingHead
{
	font-weight: normal;
	cursor: hand;
	text-decoration: none;
	color: #006600;
	font-style: normal;
	font-size: 11pt;
	font-family: 'Montserrat Regular';
}

MadCap|expandingHead:focus
{
	font-family: 'Montserrat Regular';
}

MadCap|expandingBody
{
	color: #777777;
	font-style: italic;
	font-family: 'Montserrat Regular';
}

MadCap|dropDownHotspot
{
	cursor: hand;
	padding-left:0px;
	text-decoration: none;
	font-size: 11pt;
	color: #2b6296;
	font-style: normal;
	font-weight: normal;
	font-family: 'Montserrat Regular';
}

.MCDropDown_Open .MCDropDownHotSpot_
{
	padding-left: 0px;
}

td
{
	border-left-style: solid;
	border-left-width: 0px;
	border-right-style: solid;
	border-right-width: 0px;
	border-top-style: solid;
	border-top-width: 0px;
	border-bottom-style: solid;
	border-bottom-width: 0px;
	font-family: 'Montserrat Regular';
}

table
{
	width:100%;	
	padding-bottom: 0px;
	font-family: 'Montserrat Regular';
}

tr
{
	font-family: 'Montserrat Regular';
}

caption
{
	font-family: 'Montserrat Regular';
}

th
{
	color: #ffffff;
	background-color: #336699;
	font-family: 'Montserrat Regular';
}

tfoot
{
	font-family: 'Montserrat Regular';
}

tbody
{
	font-size: 11pt;
	font-family: 'Montserrat Regular';
}

thead
{
	font-family: 'Montserrat Regular';
}

dl
{
	font-family: 'Montserrat Regular';
}

dd
{
	font-family: 'Montserrat Regular';
}

dt
{
	font-family: 'Montserrat Regular';
}

li
{
	font-size: 10pt;
	margin: 0px;
	line-height: normal;
	font-family: 'Montserrat Regular';
}

MadCap|xref
{
	color: #2b6296;
	mc-format: '{paratext}';
	font-family: 'Montserrat Regular';
}

a
{
	color: #2b6296;
	font-size: 11pt;
	font-family: 'Montserrat Regular';
}

a:link
{
	color: #2b6296;
	font-family: 'Montserrat Regular';
}

a:visited
{
	font-family: 'Montserrat Regular';
}

a:focus
{
	font-family: 'Montserrat Regular';
}

a:hover
{
	font-family: 'Montserrat Regular';
}

a:active
{
	font-family: 'Montserrat Regular';
}

a.MCBreadcrumbsLink
{
	color: #2b6296;
	font-family: 'Montserrat Regular';
}

a.MCBreadcrumbsLink:link
{
	font-size: 9pt;
	color: #2b6296;
	font-family: 'Montserrat Regular';
}

a.MCBreadcrumbsLink:visited
{
	font-size: 9pt;
	font-family: 'Montserrat Regular';
}

a.MCBreadcrumbsLink:focus
{
	color: #000000;
	font-size: 9pt;
	font-weight: bold;
	font-family: 'Montserrat Regular';
}

hr
{
	border-left-style: solid;
	border-top-style: solid;
	margin-top: 0.5em;
	margin-bottom: 1.12px;
	height: 0px;
	border-bottom-color: #696969;
	border-right-style: groove;
	border-bottom-style: solid;
	border-color: #000000;
	border-bottom-width: 2px;
	border: solid 1px #696969;
	font-family: 'Montserrat Regular';
	width: 100%;
}

b
{
	font-style: normal;
	font-size: 11pt;
	font-weight: bold;
	font-family: 'Montserrat Regular';
}

ul.indentedList
{
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 25px;
	margin: 0px;
	font-family: 'Montserrat Regular';
}

MadCap|dropDown
{
	padding-bottom: 10px;
	padding-left: 10px;
	margin-left:20px;
	font-family: 'Montserrat Regular';
}

MadCap|dropDownBody
{
	margin: 0px;
	margin-left: 20px;
	margin-bottom: 0px;
	font-family: 'Montserrat Regular';
}

MadCap|dropDownHead
{
	font-weight: bold;
	font-family: 'Montserrat Regular';
}

img.LeftofTextBigImage
{
	mc-thumbnail-max-height: auto;
	mc-thumbnail-max-width: 300px;
	mc-thumbnail: popup;
	width: 775px;
	height: 275px;
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-left-style: none;
	border-right-style: none;
	border-top-style: none;
	border-bottom-style: none;
	font-family: 'Montserrat Regular';
}

img.LeftofTextList
{
	clear: both;
	float: left;
	width: 354px;
	height: 170px;
	padding-left: 10px;
	padding-right: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-left-style: none;
	border-right-style: none;
	border-top-style: none;
	border-bottom-style: none;
	font-family: 'Montserrat Regular';
}

p.imageTitle
{
	margin-top: 0pt;
	margin-bottom: 0pt;
	line-height: 17px;
	text-align: center;
	font-size: 9pt;
	font-style: italic;
	padding-left: 40px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 10px;
	font-family: 'Montserrat Regular';
}

dir
{
	margin-left: 0px;
	font-family: 'Montserrat Regular';
}

pre
{
	font-family: 'Montserrat Regular';
}

@media non-print
{
	table
	{
		font-family: 'Montserrat Regular';
	}

	tbody
	{
		font-family: 'Montserrat Regular';
	}

	td
	{
		font-family: 'Montserrat Regular';
	}

	th
	{
		font-family: 'Montserrat Regular';
	}

	thead
	{
		font-family: 'Montserrat Regular';
	}

	tr
	{
		font-family: 'Montserrat Regular';
	}

	ul
	{
		font-family: 'Montserrat Regular';
	}

	pre
	{
		font-family: 'Montserrat Regular';
	}

	p
	{
		font: 'Montserrat Regular';
		font-family: 'Montserrat Regular';
	}

	p.FooterText
	{
		font-family: 'Montserrat Regular';
	}

	p.headerImage
	{
		font-family: 'Montserrat Regular';
	}

	p.imageTitle
	{
		font-family: 'Montserrat Regular';
	}

	p.Note
	{
		font-family: 'Montserrat Regular';
	}

	MadCap|expandingHead
	{
		font-family: 'Montserrat Regular';
	}

	MadCap|expandingBody
	{
		font-family: 'Montserrat Regular';
	}

	MadCap|dropDownHotspot
	{
		font-family: 'Montserrat Regular';
	}

	li
	{
		font-family: 'Montserrat Regular';
	}

	h6
	{
		font-family: 'Montserrat Regular';
	}

	h5
	{
		font-family: 'Montserrat Regular';
	}

	a
	{
		font-family: 'Montserrat Regular';
	}

	b
	{
		font-family: 'Montserrat Regular';
	}

	body
	{
		font-family: 'Montserrat Regular';
	}

	caption
	{
		font-family: 'Montserrat Regular';
	}

	dd
	{
		font-family: 'Montserrat Regular';
	}

	dl
	{
		font-family: 'Montserrat Regular';
	}

	dt
	{
		font-family: 'Montserrat Regular';
	}

	h4.whatsnew
	{
		font-family: 'Montserrat Regular';
	}

	MadCap|breadcrumbsProxy
	{
		font-family: 'Montserrat Regular';
	}

	MadCap|dropDown
	{
		font-family: 'Montserrat Regular';
	}

	MadCap|dropDownBody
	{
		font-family: 'Montserrat Regular';
	}

	MadCap|dropDownHead
	{
		font-family: 'Montserrat Regular';
	}

	MadCap|expandingHead:focus
	{
		font-family: 'Montserrat Regular';
	}

	h5.rightclear
	{
		font-family: 'Montserrat Regular';
	}

	h5.caption
	{
		font-family: 'Montserrat Regular';
	}

	h4.SeeAlso
	{
		font-family: 'Montserrat Regular';
	}

	p.yellow
	{
		font-family: 'Montserrat Regular';
	}

	p.Tip
	{
		font-family: 'Montserrat Regular';
	}

	p.numberedList
	{
		font-family: 'Montserrat Regular';
	}

	p.NoteCallout
	{
		font-family: 'Montserrat Regular';
	}

	div.fixed700
	{
		font-family: 'Montserrat Regular';
	}

	p.Spaceless
	{
		font-family: 'Montserrat Regular';
	}

	a.MCBreadcrumbsLink:visited
	{
		font-family: 'Montserrat Regular';
	}

	a.MCBreadcrumbsLink:link
	{
		font-family: 'Montserrat Regular';
	}

	a.MCBreadcrumbsLink:focus
	{
		font-family: 'Montserrat Regular';
	}

	a.MCBreadcrumbsLink
	{
		font-family: 'Montserrat Regular';
	}

	a:visited
	{
		font-family: 'Montserrat Regular';
	}

	a:link
	{
		font-family: 'Montserrat Regular';
	}

	a:focus
	{
		font-family: 'Montserrat Regular';
	}

	ul.indentedList
	{
		font-family: 'Montserrat Regular';
	}

	th.space
	{
		font-family: 'Montserrat Regular';
	}

	td.space
	{
		font-family: 'Montserrat Regular';
	}

	table.yellow
	{
		font-family: 'Montserrat Regular';
	}

	img.RightofText
	{
		font-family: 'Montserrat Regular';
	}

	img.LeftofTextList
	{
		font-family: 'Montserrat Regular';
	}

	img.LeftofTextBigImage
	{
		font-family: 'Montserrat Regular';
	}

	img.LeftofText
	{
		font-family: 'Montserrat Regular';
	}

	img.IconInline
	{
		font-family: 'Montserrat Regular';
	}

	img.floatright
	{
		font-family: 'Montserrat Regular';
	}

	img.floatleft
	{
		font-family: 'Montserrat Regular';
	}

	img.BigImageRight
	{
		font-family: 'Montserrat Regular';
	}

	img.BigImage
	{
		font-family: 'Montserrat Regular';
	}
}

MadCap|equation
{
	font-family: 'Montserrat Regular';
}

MadCap|namedDestination
{
	font-family: 'Montserrat Regular';
}

MadCap|qrCode
{
	font-family: 'Montserrat Regular';
}

MadCap|pageFooter.OddPage
{
	font-family: 'Montserrat Regular';
}

MadCap|pageFooter.FirstPage
{
	font-family: 'Montserrat Regular';
}

MadCap|pageFooter.EvenPage
{
	font-family: 'Montserrat Regular';
}

MadCap|pageFooter
{
	font-family: 'Montserrat Regular';
}

MadCap|pageHeader.OddPage
{
	font-family: 'Montserrat Regular';
}

MadCap|pageHeader.FirstPage
{
	font-family: 'Montserrat Regular';
}

MadCap|pageHeader.EvenPage
{
	font-family: 'Montserrat Regular';
}

MadCap|pageHeader
{
	font-family: 'Montserrat Regular';
}

MadCap|keywordLinkControlListItemLink:visited
{
	font-family: 'Montserrat Regular';
}

MadCap|keywordLinkControlListItemLink:link
{
	font-family: 'Montserrat Regular';
}

MadCap|keywordLinkControlListItemLink:hover
{
	font-family: 'Montserrat Regular';
}

MadCap|keywordLinkControlListItemLink:focus
{
	font-family: 'Montserrat Regular';
}

MadCap|keywordLinkControlListItemLink
{
	font-family: 'Montserrat Regular';
}

MadCap|keywordLinkControlListItem
{
	font-family: 'Montserrat Regular';
}

MadCap|keywordLinkControlList
{
	font-family: 'Montserrat Regular';
}

MadCap|conceptLinkControlListItemLink:visited
{
	font-family: 'Montserrat Regular';
}

MadCap|conceptLinkControlListItemLink:link
{
	font-family: 'Montserrat Regular';
}

MadCap|conceptLinkControlListItemLink:hover
{
	font-family: 'Montserrat Regular';
}

MadCap|conceptLinkControlListItemLink:focus
{
	font-family: 'Montserrat Regular';
}

MadCap|conceptLinkControlListItemLink
{
	font-family: 'Montserrat Regular';
}

MadCap|conceptLinkControlListItem
{
	font-family: 'Montserrat Regular';
}

MadCap|conceptLinkControlList
{
	font-family: 'Montserrat Regular';
}

MadCap|relatedTopicsControlListItemLink:visited
{
	font-family: 'Montserrat Regular';
}

MadCap|relatedTopicsControlListItemLink:link
{
	font-family: 'Montserrat Regular';
}

MadCap|relatedTopicsControlListItemLink:hover
{
	font-family: 'Montserrat Regular';
}

MadCap|relatedTopicsControlListItemLink:focus
{
	font-family: 'Montserrat Regular';
}

MadCap|relatedTopicsControlListItemLink
{
	font-family: 'Montserrat Regular';
}

MadCap|relatedTopicsControlListItem
{
	font-family: 'Montserrat Regular';
}

MadCap|relatedTopicsControlList
{
	font-family: 'Montserrat Regular';
}

MadCap|helpControlListItemLink:visited
{
	font-family: 'Montserrat Regular';
}

MadCap|helpControlListItemLink:link
{
	font-family: 'Montserrat Regular';
}

MadCap|helpControlListItemLink:hover
{
	font-family: 'Montserrat Regular';
}

MadCap|helpControlListItemLink:focus
{
	font-family: 'Montserrat Regular';
}

MadCap|helpControlListItemLink
{
	font-family: 'Montserrat Regular';
}

MadCap|helpControlListItem
{
	font-family: 'Montserrat Regular';
}

MadCap|helpControlList
{
	font-family: 'Montserrat Regular';
}

MadCap|helpControlMenuItem.Highlighted
{
	font-family: 'Montserrat Regular';
}

MadCap|helpControlMenuItem
{
	font-family: 'Montserrat Regular';
}

MadCap|helpControlMenu
{
	font-family: 'Montserrat Regular';
}

MadCap|shortcut
{
	font-family: 'Montserrat Regular';
}

MadCap|popupBody
{
	font-family: 'Montserrat Regular';
}

MadCap|popupHead
{
	font-family: 'Montserrat Regular';
}

MadCap|popup:hover
{
	font-family: 'Montserrat Regular';
}

MadCap|popup:focus
{
	font-family: 'Montserrat Regular';
}

MadCap|popup
{
	font-family: 'Montserrat Regular';
}

MadCap|toggler:hover
{
	font-family: 'Montserrat Regular';
}

MadCap|toggler:focus
{
	font-family: 'Montserrat Regular';
}

MadCap|toggler
{
	font-family: 'Montserrat Regular';
}

MadCap|expanding
{
	font-family: 'Montserrat Regular';
}

MadCap|annotation
{
	font-family: 'Montserrat Regular';
}

MadCap|glossaryTerm.Popup
{
	font-family: 'Montserrat Regular';
}

MadCap|glossaryTerm.Hyperlink
{
	font-family: 'Montserrat Regular';
}

MadCap|glossaryTerm.Expanding
{
	font-family: 'Montserrat Regular';
}

MadCap|glossaryTerm:hover
{
	font-family: 'Montserrat Regular';
}

MadCap|glossaryTerm:focus
{
	font-family: 'Montserrat Regular';
}

MadCap|glossaryTerm
{
	font-family: 'Montserrat Regular';
}

MadCap|relatedTopics:hover
{
	font-family: 'Montserrat Regular';
}

MadCap|relatedTopics:focus
{
	font-family: 'Montserrat Regular';
}

MadCap|relatedTopics
{
	font-family: 'Montserrat Regular';
}

MadCap|keywordLink:hover
{
	font-family: 'Montserrat Regular';
}

MadCap|keywordLink:focus
{
	font-family: 'Montserrat Regular';
}

MadCap|keywordLink
{
	font-family: 'Montserrat Regular';
}

MadCap|conceptLink:hover
{
	font-family: 'Montserrat Regular';
}

MadCap|conceptLink:focus
{
	font-family: 'Montserrat Regular';
}

MadCap|conceptLink
{
	font-family: 'Montserrat Regular';
}

MadCap|footnote
{
	font-family: 'Montserrat Regular';
}

MadCap|endnoteBlock
{
	font-family: 'Montserrat Regular';
}

MadCap|endnotesBlock
{
	font-family: 'Montserrat Regular';
}

MadCap|footnoteBlock
{
	font-family: 'Montserrat Regular';
}

MadCap|footnotesBlock
{
	font-family: 'Montserrat Regular';
}

MadCap|section
{
	font-family: 'Montserrat Regular';
}

MadCap|conditionalText
{
	font-family: 'Montserrat Regular';
}

MadCap|slideThumbnail.active
{
	font-family: 'Montserrat Regular';
}

MadCap|slideThumbnail:hover
{
	font-family: 'Montserrat Regular';
}

MadCap|slideThumbnail
{
	font-family: 'Montserrat Regular';
}

MadCap|slideshowBullet.active
{
	font-family: 'Montserrat Regular';
}

MadCap|slideshowBullet:hover
{
	font-family: 'Montserrat Regular';
}

MadCap|slideshowBullet
{
	font-family: 'Montserrat Regular';
}

MadCap|slideshowCaption
{
	font-family: 'Montserrat Regular';
}

MadCap|slide
{
	font-family: 'Montserrat Regular';
}

MadCap|slideshow
{
	font-family: 'Montserrat Regular';
}

MadCap|snippetBlock
{
	font-family: 'Montserrat Regular';
}

MadCap|snippetText
{
	font-family: 'Montserrat Regular';
}

MadCap|endnotesProxy
{
	font-family: 'Montserrat Regular';
}

MadCap|relationshipsItem
{
	font-family: 'Montserrat Regular';
}

MadCap|relationshipsHeading.task
{
	font-family: 'Montserrat Regular';
}

MadCap|relationshipsHeading.reference
{
	font-family: 'Montserrat Regular';
}

MadCap|relationshipsHeading.concept
{
	font-family: 'Montserrat Regular';
}

MadCap|relationshipsHeading
{
	font-family: 'Montserrat Regular';
}

MadCap|relationshipsProxy
{
	font-family: 'Montserrat Regular';
}

MadCap|glossaryProxy
{
	font-family: 'Montserrat Regular';
}

MadCap|conceptsProxy
{
	font-family: 'Montserrat Regular';
}

MadCap|listOfProxy
{
	font-family: 'Montserrat Regular';
}

MadCap|indexProxy
{
	font-family: 'Montserrat Regular';
}

MadCap|tocProxy
{
	font-family: 'Montserrat Regular';
}

MadCap|miniTocProxy
{
	font-family: 'Montserrat Regular';
}

MadCap|topicToolbarProxy
{
	font-family: 'Montserrat Regular';
}

MadCap|bodyProxy
{
	font-family: 'Montserrat Regular';
}

MadCap|variable
{
	font-family: 'Montserrat Regular';
}

MadCap|concept
{
	font-family: 'Montserrat Regular';
}

MadCap|keyword
{
	font-family: 'Montserrat Regular';
}

figcaption
{
	font-family: 'Montserrat Regular';
}

figure
{
	font-family: 'Montserrat Regular';
}

br:before
{
	font-family: 'Montserrat Regular';
}

br
{
	font-family: 'Montserrat Regular';
}

s
{
	font-family: 'Montserrat Regular';
}

button
{
	font-family: 'Montserrat Regular';
}

colgroup
{
	font-family: 'Montserrat Regular';
}

noframes
{
	font-family: 'Montserrat Regular';
}

frameset
{
	font-family: 'Montserrat Regular';
}

frame
{
	font-family: 'Montserrat Regular';
}

form
{
	font-family: 'Montserrat Regular';
}

fieldset
{
	font-family: 'Montserrat Regular';
}

style
{
	font-family: 'Montserrat Regular';
}

head
{
	font-family: 'Montserrat Regular';
}

area
{
	font-family: 'Montserrat Regular';
}

map
{
	font-family: 'Montserrat Regular';
}

col
{
	font-family: 'Montserrat Regular';
}

var
{
	font-family: 'Montserrat Regular';
}

tt
{
	font-family: 'Montserrat Regular';
}

sub
{
	font-family: 'Montserrat Regular';
}

sup
{
	font-family: 'Montserrat Regular';
}

strong
{
	font-family: 'Montserrat Regular';
}

strike
{
	font-family: 'Montserrat Regular';
}

samp
{
	font-family: 'Montserrat Regular';
}

o
{
	font-family: 'Montserrat Regular';
}

u
{
	font-family: 'Montserrat Regular';
}

small
{
	font-family: 'Montserrat Regular';
}

kbd
{
	font-family: 'Montserrat Regular';
}

ins
{
	font-family: 'Montserrat Regular';
}

i
{
	font-family: 'Montserrat Regular';
}

em
{
	font-family: 'Montserrat Regular';
}

del
{
	font-family: 'Montserrat Regular';
}

cite
{
	font-family: 'Montserrat Regular';
}

code
{
	font-family: 'Montserrat Regular';
}

big
{
	font-family: 'Montserrat Regular';
}

acronym
{
	font-family: 'Montserrat Regular';
}

abbr
{
	font-family: 'Montserrat Regular';
}

menu
{
	font-family: 'Montserrat Regular';
}

center
{
	font-family: 'Montserrat Regular';
}

blockquote
{
	font-family: 'Montserrat Regular';
}

address
{
	font-family: 'Montserrat Regular';
}

html.topic
{
	font-family: 'Montserrat Regular';
	margin-right: 432px;
}

html.task
{
	font-family: 'Montserrat Regular';
}

html.reference
{
	font-family: 'Montserrat Regular';
}

html.concept
{
	font-family: 'Montserrat Regular';
}

html
{
	font-family: 'Montserrat Regular';
}

span.state
{
	font-family: 'Montserrat Regular';
}

span.SeeIndexTerms
{
	font-family: 'Montserrat Regular';
}

span.SeeIndex
{
	font-family: 'Montserrat Regular';
}

span.SeeAlsoIndexTerms
{
	font-family: 'Montserrat Regular';
}

span.SeeAlsoIndex
{
	font-family: 'Montserrat Regular';
}

span.boolean
{
	font-family: 'Montserrat Regular';
}

span
{
	font-family: 'Montserrat Regular';
}

script
{
	font-family: 'Montserrat Regular';
}

object
{
	font-family: 'Montserrat Regular';
}

textarea
{
	font-family: 'Montserrat Regular';
}

input
{
	font-family: 'Montserrat Regular';
}

select
{
	font-family: 'Montserrat Regular';
}

a.Popup
{
	font-family: 'Montserrat Regular';
}

a.GlossaryPageTerm
{
	font-family: 'Montserrat Regular';
}

MadCap|xref.TOCPageNumber
{
	font-family: 'Montserrat Regular';
}

MadCap|xref.ListOfPageNumber
{
	font-family: 'Montserrat Regular';
}

MadCap|xref.IndexPageNumber
{
	font-family: 'Montserrat Regular';
}

MadCap|xref.ConceptPageNumber
{
	font-family: 'Montserrat Regular';
}

MadCap|xref:hover
{
	font-family: 'Montserrat Regular';
}

MadCap|xref:focus
{
	font-family: 'Montserrat Regular';
}

li::marker
{
	font-family: 'Montserrat Regular';
}

MadCap|dropDownHotspot:hover
{
	font-family: 'Montserrat Regular';
}

MadCap|dropDownHotspot:focus
{
	font-family: 'Montserrat Regular';
}

MadCap|expandingHead:hover
{
	font-family: 'Montserrat Regular';
}

p.TOC9
{
	font-family: 'Montserrat Regular';
}

p.TOC8
{
	font-family: 'Montserrat Regular';
}

p.TOC7
{
	font-family: 'Montserrat Regular';
}

p.TOC6
{
	font-family: 'Montserrat Regular';
}

p.TOC5
{
	font-family: 'Montserrat Regular';
}

p.TOC4
{
	font-family: 'Montserrat Regular';
}

p.TOC3
{
	font-family: 'Montserrat Regular';
}

p.TOC2
{
	font-family: 'Montserrat Regular';
}

p.TOC1
{
	font-family: 'Montserrat Regular';
}

p.MiniTOC9
{
	font-family: 'Montserrat Regular';
}

p.MiniTOC8
{
	font-family: 'Montserrat Regular';
}

p.MiniTOC7
{
	font-family: 'Montserrat Regular';
}

p.MiniTOC6
{
	font-family: 'Montserrat Regular';
}

p.MiniTOC5
{
	font-family: 'Montserrat Regular';
}

p.MiniTOC4
{
	font-family: 'Montserrat Regular';
}

p.MiniTOC3
{
	font-family: 'Montserrat Regular';
}

p.MiniTOC2
{
	font-family: 'Montserrat Regular';
}

p.MiniTOC1
{
	font-family: 'Montserrat Regular';
}

p.ListOf
{
	font-family: 'Montserrat Regular';
}

p.IndexHeading
{
	font-family: 'Montserrat Regular';
}

p.Index9
{
	font-family: 'Montserrat Regular';
}

p.Index8
{
	font-family: 'Montserrat Regular';
}

p.Index7
{
	font-family: 'Montserrat Regular';
}

p.Index6
{
	font-family: 'Montserrat Regular';
}

p.Index5
{
	font-family: 'Montserrat Regular';
}

p.Index4
{
	font-family: 'Montserrat Regular';
}

p.Index3
{
	font-family: 'Montserrat Regular';
}

p.Index2
{
	font-family: 'Montserrat Regular';
}

p.Index1
{
	font-family: 'Montserrat Regular';
}

p.ConceptContext
{
	font-family: 'Montserrat Regular';
}

p.Concept
{
	font-family: 'Montserrat Regular';
}

div.GlossaryPageTerm
{
	font-family: 'Montserrat Regular';
}

div.GlossaryPageHeading
{
	font-family: 'Montserrat Regular';
}

div.GlossaryPageEntry
{
	font-family: 'Montserrat Regular';
}

div.GlossaryPageDefinition
{
	font-family: 'Montserrat Regular';
}

div
{
	font-family: 'Montserrat Regular';
}

 @font-face {
    font-family: 'Montserrat Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Montserrat Regular'), url('../Fonts/Montserrat/Montserrat-Regular.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Montserrat Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Montserrat Italic'), url('../Fonts/Montserrat/Montserrat-Italic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Montserrat Thin';
    font-style: normal;
    font-weight: normal;
    src: local('Montserrat Thin'), url('../Fonts/Montserrat/Montserrat-Thin.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Montserrat Thin Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Montserrat Thin Italic'), url('../Fonts/Montserrat/Montserrat-ThinItalic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Montserrat ExtraLight';
    font-style: normal;
    font-weight: normal;
    src: local('Montserrat ExtraLight'), url('../Fonts/Montserrat/Montserrat-ExtraLight.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Montserrat ExtraLight Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Montserrat ExtraLight Italic'), url('../Fonts/Montserrat/Montserrat-ExtraLightItalic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Montserrat Light';
    font-style: normal;
    font-weight: normal;
    src: local('Montserrat Light'), url('../Fonts/Montserrat/Montserrat-Light.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Montserrat Light Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Montserrat Light Italic'), url('../Fonts/Montserrat/Montserrat-LightItalic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Montserrat Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Montserrat Medium'), url('../Fonts/Montserrat/Montserrat-Medium.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Montserrat Medium Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Montserrat Medium Italic'), url('../Fonts/Montserrat/Montserrat-MediumItalic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Montserrat SemiBold';
    font-style: normal;
    font-weight: normal;
    src: local('Montserrat SemiBold'), url('../Fonts/Montserrat/Montserrat-SemiBold.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Montserrat SemiBold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Montserrat SemiBold Italic'), url('../Fonts/Montserrat/Montserrat-SemiBoldItalic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Montserrat Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Montserrat Bold'), url('../Fonts/Montserrat/Montserrat-Bold.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Montserrat Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Montserrat Bold Italic'), url('../Fonts/Montserrat/Montserrat-BoldItalic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Montserrat ExtraBold';
    font-style: normal;
    font-weight: normal;
    src: local('Montserrat ExtraBold'), url('../Fonts/Montserrat/Montserrat-ExtraBold.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Montserrat ExtraBold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Montserrat ExtraBold Italic'), url('../Fonts/Montserrat/Montserrat-ExtraBoldItalic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Montserrat Black';
    font-style: normal;
    font-weight: normal;
    src: local('Montserrat Black'), url('../Fonts/Montserrat/Montserrat-Black.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Montserrat Black Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Montserrat Black Italic'), url('../Fonts/Montserrat/Montserrat-BlackItalic.woff') format('woff');
    }
